# Core Libraries
pandas>=1.5.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
plotly>=5.11.0
pickle-mixin>=1.0.2  # used for saving/loading models

# Jupyter Notebook Support
jupyter>=1.0.0
ipykernel>=6.20.0

# Scikit-learn (for modeling and metrics)
scikit-learn>=1.2.0

# Imbalanced-learn (SMOTE, pipelines)
imbalanced-learn>=0.10.0

# XGBoost (modeling)
xgboost>=1.7.0